*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri, Arial, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form {
    width: 340px;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;

    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.form h1 {
    font-size: 15px;
    font-weight: bold;
    color: #b4b4b4;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form h1 .log-in,
.form h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}

.form h1 .log-in {
    color: #34a5cf;
    padding-right: 2px;
}

.form h1 .sign-up {
    color: #6c6763;
    padding-left: 2px;
}

.form .float {
    width: 50%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form .float:first-of-type {
    padding-right: 5px;
}

.form .float:last-of-type {
    padding-left: 5px;
}

.form label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form label i {
    margin-right: 5px;
    display: inline-block;
    width: 10px;
}

.form input[type=text],
.form input[type=password] {
    font-family: Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.form input[type=text]:hover,
.form input[type=password]:hover {
    border-color: #CCC;
}

.form label:hover ~ input {
    border-color: #CCC;
}

.form input[type=text]:focus,
.form input[type=password]:focus {
    border-color: #BBB;
    outline: none;
}

.form input[type=submit],
.form .register {
    width: 49%;
    height: 38px;
    float: left;
    position: relative;

    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}

.form input[type=submit] {
    margin-left: 1%;
    background: #34a5cf;
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

.form .register {
    margin-right: 1%;
    background: #696969;
    background: linear-gradient(#a9a9a9, #696969);
    border: 1px solid #696969;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.form input[type=submit]:hover,
.form .register:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.form input[type=submit]:active,
.form .register:active{
    top: 1px;
}